<!DOCTYPE html>
<html ng-app="App">
<head>
	<meta charset="utf-8">
	<title>КБЖУ калькулятор</title>
	<link rel="stylesheet" href="/bootstrap.min.css">
	<style rel="stylesheet">
		body {
			padding: 50px;
		}
	</style>
	<script src="/angular.min.js"></script>
	<script src="/index.js"></script>
</head>
<body>
<div ng-controller="AppController" class="container">
	<div class="row">
		<div class="col-sm-3">
			<label>Пол</label>
		</div>
		<div class="col-sm-1">
			<div class="">
				<label>
					<input type="radio" ng-model="gender" value="m"> М
				</label>
			</div>
		</div>
		<div class="col-sm-1">
			<div class="">
				<label>
					<input type="radio" ng-model="gender" value="f"> Ж
				</label>
			</div>
		</div>
	</div>
    <br/>
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label>Фактический вес</label>
				<input type="number" class="form-control" ng-model="weightFact">
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label>Желаемый вес</label>
				<input type="number" class="form-control" ng-model="weightWant">
			</div>
		</div>
	</div>
    <br/>
    <div class="row">
        <div class="col-sm-2">
            <label>Пресеты</label>
        </div>
        <div class="col-sm-5">
            <div class="form-group">
                <select class="form-control" ng-model='preset'>
                    <option ng-repeat="item in options" ng-value="item">{{item}}</option>
                </select>
            </div>
        </div>
    </div>
	<br/>
	<div class="row">
		<div class="col-sm-4">
			<div class="form-group">
				<label>Коэффициент белков<br/>(гр/кг желаемого веса)</label>
				<input type="number" class="form-control" ng-model="proteinsK">
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label>Коэффициент жиров<br/>(гр/кг фактического веса)</label>
				<input type="number" class="form-control" ng-model="fatsK">
			</div>
		</div>
		<div class="col-sm-4">
			<div class="form-group">
				<label>Коэффициент углеводов<br/>(гр/кг желаемого веса)</label>
				<input type="number" class="form-control" ng-model="carbohydratesK">
			</div>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-sm-12">
			<label>Распределение БЖУ по приемам пищи</label>
			<table class="table table-bordered">
				<tbody>
				<tr>
					<td></td>
					<td>Завтрак</td>
					<td>Обед</td>
					<td>Ужин</td>
				</tr>
				<tr>
					<td>Белки</td>
					<td>
						<div class="input-group">
							<input type="number" class="form-control" ng-model="proteinsBreakfast">
							<span class="input-group-addon">%</span>
						</div>
					</td>
					<td>
						<div class="input-group">
							<input type="number" class="form-control" ng-model="proteinsDinner">
							<span class="input-group-addon">%</span>
						</div>
					</td>
					<td>
						<div class="input-group">
							<input type="number" class="form-control" ng-model="proteinsEvening">
							<span class="input-group-addon">%</span>
						</div>
					</td>
				</tr>
				<tr>
					<td>Жиры</td>
					<td>
						<div class="input-group">
							<input type="number" class="form-control" ng-model="fatsBreakfast">
							<span class="input-group-addon">%</span>
						</div>
					</td>
					<td>
						<div class="input-group">
							<input type="number" class="form-control" ng-model="fatsDinner">
							<span class="input-group-addon">%</span>
						</div>
					</td>
					<td>
						<div class="input-group">
							<input type="number" class="form-control" ng-model="fatsEvening">
							<span class="input-group-addon">%</span>
						</div>
					</td>
				</tr>
				<tr>
					<td>Углеводы</td>
					<td>
						<div class="input-group">
							<input type="number" class="form-control" ng-model="carbohydratesBreakfast">
							<span class="input-group-addon">%</span>
						</div>
					</td>
					<td>
						<div class="input-group">
							<input type="number" class="form-control" ng-model="carbohydratesDinner">
							<span class="input-group-addon">%</span>
						</div>
					</td>
					<td>
						<div class="input-group">
							<input type="number" class="form-control" ng-model="carbohydratesEvening">
							<span class="input-group-addon">%</span>
						</div>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-sm-12"><label>Расчеты</label></div>
		<div class="col-sm-12"><br/></div>
		<!--<div class="col-sm-3">Суточная норма белков:<br/>{{r(proteinsDay)}} </div>-->
		<!--<div class="col-sm-3">Суточная норма жиров:<br/>{{r(fatsDay)}} </div>-->
		<!--<div class="col-sm-3">Суточная норма углеводов:<br/>{{r(carbohydratesDay)}} </div>-->
		<!--<div class="col-sm-3">Каллораж (Б*4 + Ж*9 + У*4):<br/>{{getCals(proteinsDay, fatsDay, carbohydratesDay)}} </div>-->
        <div class="col-sm-6">БЖУ на сутки:<br/>{{r(proteinsDay)}} / {{r(fatsDay)}} / {{r(carbohydratesDay)}} </div>
        <div class="col-sm-6">Каллораж на сутки (Б*4 + Ж*9 + У*4):<br/>{{getCals(proteinsDay, fatsDay, carbohydratesDay)}} </div>
		<div class="col-sm-12"><br/></div>
		<div class="col-sm-3">Количество KБЖУ на завтрак:<br/>{{getCals(pb, fb, cb)}} / {{r(pb)}} / {{r(fb)}} / {{r(cb)}} </div>
		<div class="col-sm-3">Количество KБЖУ на обед:<br/>{{getCals(pd, fd, cd)}} / {{r(pd)}} / {{r(fd)}} / {{r(cd)}} </div>
		<div class="col-sm-3">Количество KБЖУ на ужин:<br/>{{getCals(pe, fe, ce)}} / {{r(pe)}} / {{r(fe)}} / {{r(ce)}} </div>
	</div>
</div>
</body>
</html>